.avatar-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  .button-update-avatar {
    cursor: pointer;
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: -7%;
    right: 44%;
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    .icon-update-avatar {
      font-size: 20px;
      padding: 10px;
    }
    .ant-upload-wrapper {
      width: 40px;
      height: 40px;
      .ant-upload {
        height: 40px;
        width: 40px;
        border-radius: 100rem;
      }
    }
  }
}
