.container-sign-in {
  border-radius: 8px;
  min-width: 100%;
  padding: 40px;
  .header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    .login-image {
      width: 20vh;
      height: 20vh;
    }
    .login-text {
      color: $text-color;
      font-size: 28px;
      font-weight: $font-weight-bold;
      padding-top: 5px;
    }
  }
  .forgot-pass {
    color: $blue-color;
    justify-content: flex-end;
    &:hover {
      cursor: pointer;
    }
  }
}
